<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{- partial "head/head" . -}}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    {{- partial "sidebar/sidebar" . -}}

    <div class='main'>

      {{- partial "nav/menus/main" . -}}

      {{- $headerWidgets := .Site.Params.widgets.header -}}
      <div class='header-widgets'>
        <div class='container'>
          {{- partial "extras/widget_area" ( dict "Widgets" $headerWidgets "Scope" . ) -}}
        </div>
      </div>

      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h2 class='site-title title'>G'day!</h2>
            {{- else -}}
              <p class='site-title title'>{{ .Site.Title }}</p>
            {{- end -}}
            <p class='desc site-desc'>I'm a consultant in the Digital Strategy & Transformation space, helping clients reimagine the way they approach customer experience (CX), creating IT strategies, and reinventing their operating models to fit their digital needs. 
              <br>
              <br>
              I studied Software Development at school, and is the past have worked as an iOS, Automation, and Web developer, in the Transport and Cyber Security sectors. Being able to combine an analytical mindset with the openness and empathy of understanding the audience or challenges first, allows me to solve complex digital business problems with 21st century skills.
              <br>
              <br>
              I am also an advocate for creating meaningful impact by utilising human-centred approaches to design and technology.
              In my spare time, I lead the global operations & networks at the nonprofit SDSN Youth, managing our People & Culture, Strategy & Operations, and Localisation of our network. 
              <br>
              <br>

              Below you'll find the latest case studies of my work.</p>
          </div>
        </div>
      </header>

      <main id='content'>
