<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{- partial "head/head" . -}}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    {{- partial "sidebar/sidebar" . -}}

    <div class='main'>

      {{- partial "nav/menus/main" . -}}

      {{- $headerWidgets := .Site.Params.widgets.header -}}
      <div class='header-widgets'>
        <div class='container'>
          {{- partial "extras/widget_area" ( dict "Widgets" $headerWidgets "Scope" . ) -}}
        </div>
      </div>

      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h2 class='site-title title'>G'day!</h2>
            {{- else -}}
              <p class='site-title title'>{{ .Site.Title }}</p>
            {{- end -}}
            <p class='desc site-desc'>
            G'day. I'm a customer experience (CX) focused digital strategy & transformation consultant. I am an empathetic problem-solver, a technical designer and a business-minded people-person.
              <br>
              <br>
              In my current role, I help enterprise clients in embracing customer centricity (CX), defining IT strategies, and reinvent operating models to fit their digital needs. I studied Software Development at school, and in the past have worked as an iOS, Automation, and Web developer, in the Transport and Cyber Security sectors. I have also spent the past 3 years leading nonprofit teams and projects.
              <br>
              <br>
              As an advocate of combining human-centred design and digital to create meaningful impact, I spend a lot of time volunteering as well. I lead all global operations & networks at the nonprofit SDSN Youth. SDSN Youth is a global network of over 150 passionate volunteers and 1800 program members, who aim to mobilise young people to contribute to the Sustainable Development Goals by creating sustainable solutions. My team encompasses People & Culture, Strategy & Operations and Network Localisation - managing our 20 local networks, covering 35 countries and over 700 organisations.
              <br>
              <br>
              Below you'll find the latest case studies of my work.</p>
          </div>
        </div>
      </header>

      <main id='content'>
