<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{- partial "head/head" . -}}

<body class='{{ partial "header/bodyClasses" . }}'>

  <div class='site'>

    {{- partial "sidebar/sidebar" . -}}

    <div class='main'>

      {{- partial "nav/menus/main" . -}}

      {{- $headerWidgets := .Site.Params.widgets.header -}}
      <div class='header-widgets'>
        <div class='container'>
          {{- partial "extras/widget_area" ( dict "Widgets" $headerWidgets "Scope" . ) -}}
        </div>
      </div>

      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'>
            {{- if eq .Kind "home" -}}
              <h2 class='site-title title'>G'day!</h2>
            {{- else -}}
              <p class='site-title title'>{{ .Site.Title }}</p>
            {{- end -}}
            <p class='desc site-desc'>I'm a consultant in the Digital & Transformation space, helping clients with things like reimagining their product customer experience, creating IT strategies, and reinventing their operating models to fit their digital needs. 
              <br>
              <br>
              I studied Software Development at school, and is the past have worked as an iOS, Automation, and Web developer, in the Transport and Cyber Security sectors. 
              <br>
              I also lead the global operations & networks at the nonprofit SDSN Youth, as an advocate for creating meaningful impact by utilising human-centred approaches to design and technology.
              <br>
              <br>

              Below you'll find the latest case studies of my work.</p>
          </div>
        </div>
      </header>

      <main id='content'>
