.card {
    border: 0;
    border-radius: 0;
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.card-header, .card-footer, .card-img, .card-img-top {
    border: 0;
    border-radius: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: .5rem;
    font-size: 15px;
    line-height: 1.7;
}

.card-text {
    font-weight: 400;
    color: #666;
    font-family: raleway,sans-serif;
    border-bottom: none!important;
}

.text-primary {
    cursor: pointer;
    transition: .2s ease;
    color: #A36437!important;
    text-decoration: none;
}

.card.post-meta {
    margin-bottom: 1rem!important;
    color: #444;
    font-weight: 500;
}

.border-primary {
    color: #444;
    font-weight: 500;
    padding-left: .5rem!important;
    border-color: #A36437!important;
    padding-right: .5rem!important;
    margin-left: .25rem!important;
    margin-right: .25rem!important;
    border-bottom: 2px solid #dee2e6!important;
}

.h5.card {
    color: #222;
    font-size: 18px;    
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;

}

.btn {
    font-size: 14px;
    font-weight: 500;
    font-family: raleway,sans-serif;
    text-transform: capitalize;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid!important; 
    position: relative;
    z-index: 1;
    transition: .2s ease;
}

.row > #instafeed > * {
    padding: 0 0 0 1em;
}

.row > #instafeed > * > img {
    width: 30%;
}

.btn-outline-primary {
    background: 0 0;
    color: #222;
    border-color: #A36437!important;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

img.card-img-top {
    vertical-align: top!important;
    border: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

.project-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}

.project-grid {
    margin-bottom: 1.5rem!important;
    flex: 0 0 48%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.site-desc {
    font-style: normal!important;
}

.tag-box {
    color: #444;
    font-weight: 300;
    font-size: .7rem;
    padding: .25rem!important;
    margin-left: .25rem!important;
    margin-right: .25rem!important;
    border: 1.1px solid rgba(240, 145, 101, 0.719);
    border-radius: 5px;
}

instafeed > * > img {
    margin-bottom: 5px;
}

.preview-container > .preview-three-images {
    display: inline;
    position: relative;
}

.preview-container > .preview-three-images > img {
    width: 30%!important;
}

.content-lr-container {
    width: 100%;
    display: inline-flex;
	padding-bottom: 2em;
}

.content-lr-container > .content-lr-left {
    width: 55%;
}

.content-lr-container > .content-lr-right {
    width: 45%;
    display: block;
}

@media screen and (max-width: 1200px) {
    .content-timeline-container,
    .content-lr-container  {
        font-size: .9em;
    }
}

@media screen and (max-width: 1000px) {
    .content-timeline-left, 
    .content-timeline-right,
    .content-lr-left, 
    .content-lr-right
    {
        width: 50%;
    }
}

@media screen and (max-width: 653px) {
    .content-timeline-left,
    .content-lr-left
    {
        width: 100%;
    }

    .content-timeline-right,
    .content-lr-right
    {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .content-timeline-container,
    .content-lr-container  {
        display: block;
    }

    .content-timeline-right,
    .content-lr-right {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

@media screen and (max-width: 400px) {
    .content-timeline-right,
    .content-lr-right {
        padding: .3em !important;
    }
}

.content-timeline-right,
.content-lr-left {
    padding-right: 2em;
}

.content-timeline-left > video,
.content-timeline-right > video,
.content-timeline-right > img
    {
    width: 100%;
    object-fit: cover;
}

.content-lr-left a {
    text-decoration: none;
    border-bottom: none;
}

.content-lr-left a img:hover {
    transform: scale(1.1);
}

.content-lr-left img {
    width: 100%;
    object-fit: cover;
}

.content-lr-container > * > h6 {
    margin-bottom: 1.5em !important;
}

.content-right.livelink > a {
    color: #3a4a79 !important;
    text-decoration: underline;
}

.content-right.livelink >a:hover {
    color: #5a4677;
}

.content-right.stack {
    margin-top: 1em;
}

.content-right.stack > * { 
    display: inline-block!important;
}

.content-right.stack.type > p {
    color: #a3532d;
}

youtube.container, vimeo.container {
    position: relative;
    display: block;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

youtube.container iframe,
youtube.container object,
youtube.container embed,
vimeo.container iframe,
vimeo.container object,
vimeo.container embed  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
