<!DOCTYPE HTML>
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					{{ partial "header.html" . }}
        </div>
        <!-- Footer -->
        <footer id="footer">
          <div class="inner">
              {{ partial "footer.html" . }}
          </div>
        </footer>
			</header>
            
          <!-- Main -->
            <div id="main">
              <div class="inner">
                <h1>{{ $.Title }}</h1>
                  {{.Content}}
              </div>
            </div>

  <!-- Scripts -->
  {{ partial "scripts.html" . }}

</body>
</html>