<ul class="icons">
		<li><a href="https://www.instagram.com/sph_aech/" class="icon fa-instagram" alt="Instagram"></a></li>
		<li><a href="https://twitter.com/sphaech" class="icon fa-twitter" alt="Twitter"></a></li>
		<li><a href="https://github.com/sph-huynh" class="icon fa-github" alt="Github"></a></li>
		<li><a href="https://linkedin.com/in/sphhuynh" class="icon fa-linkedin" alt="Linkedin"></a></li>
		<li><a href="https://www.behance.net/sphhuynh206f" class="icon fa-behance" alt="Behance"></a></li>
		<li><a href="https://www.youtube.com/channel/UC7U83IB8OK3YZG-qkskzFfw/" class="icon fa-youtube" alt="Youtube"></a></li>
</ul>
<ul class="copyright">
	<li>&copy; Sophia Huynh</li>
</ul>
