	<header>
			<div class="inner">
					<a href="{{ .Site.BaseURL }}" class="image avatar"><img src="{{ .Site.BaseURL }}images/avatar.jpg" alt="" /></a>
					<h1>Hi my name is <strong>Sophia Huynh.</strong> I like tech, arts, and learning.</h1>
				</div>
			<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/main.css" />

			<div class="menu">
					<ul class="column">
							<li><a href="{{ .Site.BaseURL }}about-me" class="main-menu">About me</a></li>
							<li><a href="{{ .Site.BaseURL }}software" class="main-menu">Software Projects</a></li>
							<li><a href="{{ .Site.BaseURL }}graphics" class="main-menu">Graphics</a></li>
							<li><a href="{{ .Site.BaseURL }}photos" class="main-menu">Photography</a></li>
							<li><a href="{{ .Site.BaseURL }}videos" class="main-menu">Videography</a></li>
						</ul>
				</div>

	</header>
