<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.poptrox.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/skel.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/util.js"></script>
<script src="{{ .Site.BaseURL }}/js/instafeed.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/userinstafeed.js"></script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}/js/main.js"></script>