<behance>
    {{ range $.Site.Data.graphics.project }}
    <div class="content-github-container">
            <div class="content-github-left">
                <a href="{{.behancelink}}">
                    <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image1 }}.jpg"/ >
                </a>
                <a href="{{.behancelink}}">
                        <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image2 }}.jpg"/ >
                </a>
                <a href="{{.behancelink}}">
                        <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image3 }}.jpg"/ >
                </a>
            </div>
            <div class="content-github-right">
                <div class="title"><b><a href="{{ .behancelink }}">{{.title}}</a></b></div>
                <div class="desc">{{.desc}}</div>
                <div class="stack"><div class="type">{{.type}}</div> | {{.project}}</div>
            </div>
    </div>
    {{ end }}
</behance>
