<behance>
    {{ range $.Site.Data.graphics.project }}
    <div class="content-lr-container">
            <div class="content-lr-left">
                <a href="{{.behancelink}}">
                    <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image1 }}.jpg"/ >
                </a>
                <a href="{{.behancelink}}">
                        <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image2 }}.jpg"/ >
                </a>
                <a href="{{.behancelink}}">
                        <img src="{{ .Site.BaseURL }}/images/graphics/{{ .image3 }}.jpg"/ >
                </a>
            </div>
            <div class="content-lr-right">
                <h6><b><a href="{{ .behancelink }}">{{.title}}</a></b></h6>
                <p>{{.desc}}</p>
                <div class="content-right stack">
                    <div class="content-right stack type">
                        <p>{{.type}}</p>
                    </div>
                    <div class="content-right stack project">
                        <p> | {{.project}}</p>
                    </div>
                </div>
            </div>
    </div>
    {{ end }}
</behance>
