<github>
        {{ range $.Site.Data.github.project }}
        <div class="content-lr-container">
                <div class="content-lr-left">
                    <a href="{{.link}}">
                        <img src="{{ .Site.BaseURL }}/images/{{ .image }}.jpg"/ >
                    </a>
                </div>
                <div class="content-lr-right">
                    <h6><b><a href="{{ .githublink }}">{{.title}}</a></b></h6>
                    <p>{{.desc}}</p>
                    <div class="content-right livelink"><a href="{{ .livelink }}">{{.livelink}}</a></div> 
                    <div class="content-right stack">
                        <div class="content-right stack type">
                            <p>{{.type}}</p>
                        </div>
                        <div class="content-right stack project">
                            <p> | {{.stack}}</p>
                        </div>
                    </div>
                </div>
        </div>
        {{ end }}
</github>
