<video-timeline>
    {{ range $.Site.Data.about.about }}
    <div class="content-timeline-container">
            <div class="content-timeline-left">
                    <img src="{{.video1}}"/>
                    <div class="caption">{{.caption1}}</div>  
                    <img src="{{.video2}}"/>
                    <div class="caption">{{.caption2}}</div>    
            </div>
            <div class="content-timeline-right">
                <p><b>{{.title}}</b></p>
                <p>{{.content1}}</p>
                <p>{{.content2}}</p>
            </div>
    </div>
    {{ end }}
    <div class="contact-me-right">
        contact me at gday(at)soph.es
    </div>
</video-timeline>
